*{
    margin: 0; 
    padding: 0;

    font-family: "Average", serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "width" 100;
}

:root{
    /* possum colors as default */
    --shadow: rgba(4, 9, 30, 0.70);
    --box-shadow: rgba(0, 0, 0, 0.8);
    --hiding: #000;

    --background: #3d3b3c;
    --background-transparent: rgb(95, 91, 107, 0.7);;
    --footer-background: #323031;
    
    --p-text: #c1bdb3;
    --h3-text: #c1bdb3;
    --h1-text: #5f5b6b;

    --links-hover: #7f7979;
    --links-text: #c1bdb3;
    --text-box: #7f7979;
    
    --button: #c1bdb3;
    --button-hover: #5f5b6b;
    --button-text: #323031;

    --error-text: red;
    --border: #ccc;
}

body{
    background-color: var(--background);
}

.fa-paint-brush {
    color: var(--button-text);
}

.theme-toggle-btn {
    background-color: var(--button);
    border-radius: 50%;
    width: 35px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;

    position: fixed;
    bottom: 15px;
    right: 10px;
}

.theme-toggle-btn:hover {
    background-color: var(--button-hover);
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(var(--shadow), var(--shadow)), url(images/diogenes.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header h1{
    color: var(--p-text);
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: var(--links-text);
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: var(--links-hover);
    display: block;
    margin: auto;
    transition:  0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: var(--text-box);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: var(--p-text);
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: var(--button);
    border: 1px solid var(--button);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid var(--button);
    background-color: var(--button-hover);
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: var(--button-hover);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2; 
        transition: 1s;
    }
    
    nav .fa{
        display: block;
        color: var(--links-text);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/*----------- Papers -----------*/
.papers{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
    color: var(--h1-text);
}

p{
    color: var(--p-text);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.papers-col{
    flex-basis: 31%;
    background-color: var(--text-box);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: var(--h3-text);
}

.papers-col:hover{
    box-shadow: 0 10px 20px 0px var(--box-shadow);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


/*----------- Skills-----------*/
.skills{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;   
}
.skills-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.skills-col img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s
}

.layer:hover{
    background: var(--background-transparent);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: var(--links-hover);
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


/*----------- Projects -----------*/
.projects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.projects-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
}

.projects-col img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.projects-col p{
    padding: 0;
}

.projects-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

@media(max-width: 700px){
    .projects-col img{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
}

/*----------- Achievements -----------*/

.achievements{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.achievements-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: var(--text-box);
    padding: 20px 5px;
    transition: 0.5s;
}

.achievements-col:hover{
    box-shadow: 0 10px 20px 0px var(--box-shadow);
}

.achievements p{
    padding: 10;  
}

.achievements h3{
    margin-top: 15px;
    text-align: center;
}

/*----------- Footer -----------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: var(--footer-background);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px; /* Add space between the icon and text */
}

.footer h4{
    margin-top: 20px;
    font-weight: 600;
    color: var(--h3-text);
}

.footer p{
    font-weight: 600;
    color: var(--p-text);
}

.contact-info {
    display: flex;
    align-items: center; /* Vertically center the icon and text */
    gap: 5px; /* Add space between the icon and text */
}

.contact-info i{
    color: var(--button);
    font-size: 1.2em; /* icon size */
}

.contact-info:last-child{
    margin-top: -15px;
}

/*----------- Papers Page -----------*/

.papers-sub-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(var(--shadow), var(--shadow)), url(images/writing-background.jpg);
    background-position: center;
    background-size: 100%; 
    text-align: center;
    color: var(--text-box);
}

.papers-sub-header h1{
    color: var(--p-text);
}

.papers-page h2{
    text-align: center;
    padding-top: 15px;
}

.papers-grid {
  display: grid;
  margin: 5%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.paper-card {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--box-shadow);
  background: var(--text-box);
}

.paper-card h3 {
  margin-top: 0;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: var(--button);
  color: var(--button-text);
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: var(--button-hover);
}

/*----------- Projects Page -----------*/

.projects-sub-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(var(--shadow), var(--shadow)), url(images/programming-background.jpg);
    background-position: center;
    background-size: 100%; 
    text-align: center;
    color: var(--text-box);
}

.projects-sub-header h1{
    color: var(--p-text);
}

.project-card{
    margin: 5%;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 5%;
    background: var(--text-box);
    padding: 20px 5px;
    box-shadow: 0 10px 20px var(--box-shadow);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.project-card .text-content {
    display: flex;
    flex-direction: column; /* Stack the h1 and p vertically */
    gap: 10px; /* Add spacing between h1 and p */
    flex: 1 1 50%; /* Allow text content to take up available space */
}

.project-card p{
    padding: 10px; 
    font-size: 1.2rem;
    line-height: 1.9; 
    font-weight: 400;
}

.project-card .text-content h1 {
    margin-left: 0;
    padding-left: 10px; 
    text-align: left; 
}

.project-card img{
    flex: 1 1 50%;
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: auto;
}


@media(max-width: 700px){
    .project-card{
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
    }

    .project-card img{
        width: 80%;
        margin-left: 20px;
    }

}

/*----------- About Page -----------*/

.about-sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(var(--shadow), var(--shadow)), url(images/anonymous.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--text-box);
}

.about-sub-header h1{
    color: var(--p-text);
}

.about-me{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between; 
}

.about-col{
    flex-basis: 40%;
    padding: 30px 2px;
}

.about-me h1{
    padding-top: 0;
    margin-bottom: 20px;
}

.about-me p{
    padding: 0; 
    font-size: 1.2rem;
    line-height: 1.8; 
    font-weight: 400;
}

.about-image {
    position: relative;
    flex-basis: 60%;
}

.about-image img {
    width: 150%;
    height: 85%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.password-section {
    margin-top: 30px;
    text-align: center;
}

.password-section input {
    margin-top: 15px; 
}

#password {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--border);
    margin-right: 10px;
}

#error-message {
    display: none; /* Hidden by default */
    color: var(--error-text);
    font-size: 1rem;
    margin-top: 10px;
    text-align: center; 
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--button);
    color: var(--button-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 85%; 
    background-color: var(--hiding); 
    transition: opacity 1s ease-in-out;
    opacity: 1;
    pointer-events: none; 
    box-sizing: border-box;
    border-radius: 15px;
}

@media (max-width: 700px) {
    .about-me {
        flex-direction: column; 
        align-items: center; 
    }

    .about-col {
        flex-basis: 100%; 
        text-align: center; 
    }

    .about-col img {
        margin: 20px auto; 
    }

    .overlay {
        height: 80%; /* adjust for image */
    }
}

/*----------- Lab Page -----------*/

.lab-sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(var(--shadow), var(--shadow)), url(images/construction-background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:  var(--text-box);
    margin-bottom: 40px;
}

.lab-sub-header h1{
    color: var(--p-text);
}

.lab-card{
    margin: 5%;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 5%;
    background: var(--text-box);
    padding: 20px 5px;
    box-shadow: 0 10px 20px var(--box-shadow);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.lab-card .text-content {
    display: flex;
    flex-direction: column; /* Stack the h1 and p vertically */
    gap: 10px; /* Add spacing between h1 and p */
    width: 50%;
    flex-basis: 50%;
}

.lab-card p{
    padding: 10px; 
    font-size: 1.2rem;
    line-height: 1.9; 
    font-weight: 400;
}

.lab-card .text-content h1 {
    margin-left: 0;
    padding-left: 10px; 
    text-align: left; 
}

.lab-card .image-section img{
    width: 45%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: auto;
}

.lab-card .image-section{
    flex-basis: 50%;
    text-align: center;
}

.lab-card .image-section img{
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: auto;
}

@media(max-width: 700px){
    .lab-card{
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
    }

    .lab-card .text-content {
        width: 100%; /* Ensure text content takes full width */
        padding: 10px; 
    }
    
    .lab-card img{
        width: 80%;
        margin-left: 20px;
    }
}